@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Martel:wght@200&family=Rancho&family=Spectral:ital,wght@1,200;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1400px;
  width: auto;
  background-color: #F2F2F2;
}
body .header {
  height: 360px;
  width: auto;
}
body .header .curved {
  position: relative;
  background: #0D0D0D;
  height: 320px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
body .header .curved a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
}
body .header .curved a .imglogo {
  height: 150px;
  width: auto;
  text-align: center;
  padding: 15px;
  margin: 10px;
}
body .header .curved a .nameLef {
  text-transform: uppercase;
  color: #F2F2F2;
  font-family: "Rancho", cursive;
  text-shadow: 2PX 0 2px rgba(240, 133, 32, 0.9529411765);
}
body .header .curved a .nameLef span {
  color: #F2C12E;
  text-transform: capitalize;
  font-family: "Rancho", cursive;
}
body .header .curved .slogan {
  font-family: "Spectral", serif;
  font-size: 32px;
  color: rgba(240, 133, 32, 0.9529411765);
  letter-spacing: 7px;
  text-align: center;
  text-shadow: 2px 0 2px #0D0D0D;
  text-transform: capitalize;
}
body .header .items {
  height: 40px;
  margin-top: 20px;
  color: #BC292D;
}
body .header .items .bi-search {
  font-size: 28px;
  margin-left: 100px;
}
body .header .items .buscar {
  height: 28px;
  width: 270px;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  margin-left: 7px;
  border: none;
  background-color: #F2C12E;
}
body .header .items .carrito {
  color: #BC292D;
  font-size: 28px;
  float: right;
  margin-right: 120px;
  text-decoration: none;
  text-align: center;
}
body .header .items .carrito .logoCart {
  color: rgba(240, 133, 32, 0.9529411765);
  text-shadow: 1px 1px 2px #BC292D;
}
body .header .items .carrito .itemCarrito {
  font-size: 22px;
  font-family: "Martel", serif;
  font-weight: lighter;
  color: rgba(240, 133, 32, 0.9529411765);
  text-shadow: 1px 1px 2px #BC292D;
}
body .principal {
  height: 900px;
  width: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
body .principal .card {
  margin-top: 140px;
  height: 400px;
  width: 180px;
  text-align: center;
  background-color: #F2F2F2;
  border: 2px solid #F2C12E;
  border-radius: 10px;
  font-size: 20px;
}
body .principal .card .imgProduct {
  margin: 6px;
  border-radius: 8px;
  margin: 10px;
}
body .principal .card .producto {
  font-family: "Spectral", serif;
  font-weight: bolder;
  font-size: 29px;
  color: rgba(240, 133, 32, 0.9529411765);
  text-shadow: 1px 1px 2px #BC292D;
}
body .principal .card .precio {
  font-family: "Cardo", serif;
  font-weight: bolder;
  color: #BC292D;
}
body .principal .card .origen {
  font-family: monospace;
  color: #BC292D;
  text-shadow: 1px 1px 2px #F2C12E;
}
body .principal .card button {
  height: 40px;
  width: 100px;
  color: #0D0D0D;
  background-color: rgba(240, 133, 32, 0.9529411765);
  border: 1px solid #BC292D;
  box-shadow: 2px 2px #BC292D;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: 0.4s ease-out;
}
body .principal .card button:hover {
  background-color: #BC292D;
  box-shadow: 2px 6px rgba(240, 133, 32, 0.9529411765);
  border-radius: 5px;
  color: #F2F2F2;
  transition: 10ms ease-in-out;
}
body .principal .table {
  height: 300px;
  margin: 45px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold !important;
  color: rgba(240, 133, 32, 0.9529411765);
  background-color: #F2F2F2;
}
body .principal .table #tablaProductos {
  color: rgba(240, 133, 32, 0.9529411765);
  padding: 60px;
  color: #0D0D0D;
  align-items: center;
}
body .principal .table #tablaProductos .tablabody {
  height: 100px;
  justify-content: center;
  line-height: 70px;
  color: #F2C12E !important;
  text-shadow: 1px 1px 2px #BC292D;
}
body .principal .table #tablaProductos .customButton {
  font-family: cursive;
}
body .footer {
  background-color: rgba(240, 133, 32, 0.9529411765);
  height: 150px;
}
body .footer p {
  text-align: center;
  font-size: 20px;
  color: #F2C12E;
  text-shadow: 0 0 7px #BC292D;
  font-family: "Spectral", serif;
}/*# sourceMappingURL=style.css.map */